//---------------------------------------------------
// Global Variables
//---------------------------------------------------

// Fonts

$font-url--google: 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';
$font-family--secondary: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;



// Font Weights

$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-weight--black: 900;



// Font Sizes

$font-size--base: 16px;
$font-size--medium: 20px;
$font-size--large: 24px;



// Colors

$white: #fff;
$black: #000;
$grey: #bbb;

$grey-palette: (
  grey: (
    light: lighten($grey, 10%),
    base: $grey,
    dark: darken($grey, 15%)
  )
);

$viking: #5fe0c1;
$malibu: #59ddfa;
$emerald: #67cb85;
$sunglo: #e2767c;
$tan-hide: #f9905c;
$purple-mountain-majesty: #927dbf;



// Main Style Colors

$color--primary: $viking;
$color--secondary: $malibu;



// Theme Colors

$theme-colors: (
  default: $malibu,
  success: $emerald,
  error: $sunglo,
  warning: $tan-hide,
  info: $purple-mountain-majesty,
);

$grid-colors: (
  col--3: lighten($purple-mountain-majesty, 20%),
  col--4: transparentize($malibu, 0.2),
  col--5: transparentize($emerald, 0.2),
  col--6: #45abc8,
  col--7: transparentize($sunglo, 0.2),
  col--8: transparentize($tan-hide, 0.2),
  col--12: transparentize($viking, 0.2),
);


// Breakpoints

$bp-mobile: 481px;
$bp-tablet: 768px;
$bp-desktop: 1200px;