//---------------------------------------------------
// Grid Layout Styles
//---------------------------------------------------

// Main Container

.container {
  width: 80%;
  max-width: 1000px;
  @extend %centered;
  @include fb(column);
}



// Grid Rows and Columns

.grid {
  @include e(row){
    width: 100%;
    margin-top: em(36px);
    @include mq(desktop) {
      @include fb(row);
      align-items: center;
    }
  }
  
  @include e(col) {
    @for $i from 2 through 12 {
      @include m(#{$i}) {
        margin-bottom: em(10px);
        margin-left: em(5px);
        @include mq(desktop) {
          @include fb(row) {
            justify-content: space-around;
            flex-basis: 100%;
            flex-grow: $i;
            max-width: (($i / 12) * 100%);
          }
        }
      }
    }
  }
}

@include grid-colors($grid-colors);

@for $i from 2 through 12 {
  .theme__colors.grid__col--#{$i} {
    padding: em(12px);
    color: palette(grey, dark);
    border-radius: em(5px);
    margin-bottom: em(16px);
  }
}


// Centered Class

.centered {
  @extend %centered;
}

@include mq(desktop) {
  .centered.grid__col--7 {
    margin-left: auto;
  }
}